name: Ruby

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    strategy:
      matrix:
        ruby:
          - '2.7.8'
          - '3.0.6'
          - '3.1.4'
          - '3.2.2'

    services:
      typesense:
        image: typesense/typesense:0.24.1
        ports:
          - 8108:8108

    steps:
    - uses: actions/checkout@v3

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true

    - name: Run the test suite
      run: bundle exec rake spec

    - name: Publish code coverage
      uses: paambaati/codeclimate-action@v4.0.0
      continue-on-error: true
      env:
        CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
